#nginx
/docker/nginx/logs/*
!/docker/nginx/logs/error.log
!/docker/nginx/logs/access.log

#postgres
/docker/postgres-volume/*
!/docker/postgres-volume/.gitkeep

#scripts
/docker/scripts/*
!/docker/scripts/init.sh

#others
node_modules
dist
.vscode
.env
yarn-error.log
coverage
