#nginx
/docker/nginx/logs/*
!/docker/nginx/logs/error.log
!/docker/nginx/logs/access.log

#postgres
/docker/postgres-volume/*
!/docker/postgres-volume/.gitkeep

#scripts
/docker/scripts/*
!/docker/scripts/init.sh

#others
.vscode
package-lock.json
.env

#backend
backend/node_modules
backend/dist
backend/.env
backend/.env.example
backend/yarn-error.log
backend/package-lock.json
backend/coverage
